@charset "UTF-8";
.product-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.product-card a {
  text-decoration: none;
  color: inherit;
}

.product-card__media {
  margin-bottom: 2.4rem;
}
@media screen and (max-width: 749px) {
  .product-card__media {
    margin-bottom: 1.6rem;
  }
}

.product-card__image-holder {
  position: relative;
  padding-top: 75%;
  overflow: hidden;
  border-radius: 16px;
}
@media screen and (max-width: 749px) {
  .product-card__image-holder {
    padding-top: 78%;
  }
}
.product-card__image-holder img, .product-card__image-holder svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.product-card__title {
  min-height: 65px;
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
  line-height: 1.35;
  color: #37341C;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* количество строк */
}
@media screen and (max-width: 749px) {
  .product-card__title {
    min-height: 54px;
    font-size: 2rem;
  }
}

.product-card__description {
  min-height: 54px;
  margin-bottom: 1.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.01rem;
  line-height: 1.5;
  color: #727272;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* количество строк */
}
@media screen and (max-width: 749px) {
  .product-card__description {
    min-height: 48px;
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
  }
}

.product-card__form-wrapper {
  margin-top: auto;
}

.product-card__info-group {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 10px;
  margin-bottom: 2.4rem;
}
@media screen and (max-width: 749px) {
  .product-card__info-group {
    margin-bottom: 1.8rem;
  }
}

.product-card__options {
  min-width: 103px;
}

.product-card__price {
  font-size: 2.4rem;
  font-weight: 700;
  color: #939C38;
}
@media screen and (max-width: 749px) {
  .product-card__price {
    font-size: 2rem;
    letter-spacing: -0.01rem;
  }
}
.product-card__price .price__sale .price-item--regular {
  display: block;
}

.product-card__add-btn {
  text-transform: capitalize;
  letter-spacing: -0.01rem;
}

.product-card__rating-wrapper {
  margin-bottom: 12px;
}
.product-card__rating-wrapper .jdgm-prev-badge {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.product-card__rating-wrapper .jdgm-prev-badge__stars {
  padding-left: 8px !important;
}
@media screen and (max-width: 749px) {
  .product-card__rating-wrapper .jdgm-prev-badge__stars {
    padding-left: 0px !important;
  }
}
.product-card__rating-wrapper .jdgm-prev-badge__text {
  font-size: 1.4rem !important;
  color: #939C38 !important;
  font-weight: 500 !important;
}
@media screen and (max-width: 749px) {
  .product-card__rating-wrapper .jdgm-star {
    padding: 0 5px 0 0 !important;
  }
}
.product-card__rating-wrapper .jdgm-star .jdgm--off:before {
  font-size: 1.4rem !important;
  letter-spacing: 0.02rem !important;
}

/*# sourceMappingURL=snippet-product-card.css.map */
